@media (min-width: 769px){
	h1{
	width: 30%;
	background-color: #8CFF40;
	border-left: 10px solid #338000;
	padding-left: 1%;
	font-size: 3vw;
}
.level{
	width: 25%;
	background-color: #FFD940;
	border-left: 10px solid #CC0000;
	padding-left: 1%;
	font-size: 2vw;
}
.list{
	margin-left:5%;
	padding-top: 0.5%;
	padding-bottom:0.5%;
	font-size: 1.5vw;
	font-family: "arial" serif;
}
.headerborder{
	margin-top: 3%;
}
.icon{
	text-align: center;
	font-size: 1.5vw;
	width: 15%;
	margin-right:2%;
	margin-top:1%;
	border:1px solid blue;
	float: left;
}

.home{
	text-align: center;
	font-size: 1.5vw;
	width: 15%;
	float: left;
	margin-right:32%;
	margin-top:1%;
	border:1px solid blue;
}

.icon:hover,.home:hover, .icon:active, .home:active
{
	background-color: gray;
	color:white;
}
a, a:visited{
	color: black;
	text-decoration: None;
}
}
@media (max-width: 768px){
.icon, .home{
	text-align: center;
	font-size: 6vw;
	width: 98%;
	margin-left:1%;
	margin-top:1%;
	border:1px solid blue;
	float: left;
}
.headerborder{
	display:none;
}
.icon:hover,.home:hover, .icon:active, .home:active
{
	background-color: gray;
	color:white;
}
a, a:visited{
	color: black;
	text-decoration: None;
}

h1{
	float:left;
	text-align: center;
	margin-left:5%;
	margin-right:5%;
	width: 90%;
	background-color: #8CFF40;
	padding-left: 1%;
	font-size: 7vw;
	color: #005500;
	text-decoration: underline #005500;
}
.level{
	margin-left:20%;
	width: 60%;
	margin-right:20%;
	margin-bottom:2%;
	float: left;
	background-color: #FFD940;
	padding-left: 1%;
	font-size: 5vw;
	color:#800000;
	text-decoration: underline #800000;
	text-align:center;
}
.list{
	padding-top: 0.5%;
	padding-bottom:0.5%;
	font-size: 4.5vw;
	font-family: "arial" serif;
}
}